[class*="col-"] {
    height: 200px;
    background-color:rgb(255, 192, 203) ;
    border: 1px solid black;
}
[class*="col-"] > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="col-"] > .row {
    padding: 10px;
}
[class*="col-"] > .row [class*="col-"]{ 
    background-color:rgb(240, 127, 128) ;
    height: 100%;
}